html, body {
    background: #becee4;
    color: black;
}

#video-streams {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 12px;
    padding: 12px;
}

.video-player {
    width: 100%;
    height: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    background-color: wheat;
    position: relative;
}